
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@model List<Blog>
@{ 
    IEnumerable<Etkinlik> etkinlikler = ViewData["etkinlikData"] as IEnumerable<Etkinlik>;

    }

<!--======= BANNER =========-->
<div id="banner">
    <div class="flex-banner">
        <ul class="slides">

            @foreach (var item in etkinlikler)
            {
                <!--======= BANNER SLIDE =========-->
                <li>

                    <img src="@item.EtkinlikBuyukResimYol" />

                    <!--======= BANNER TEXT =========-->
                    <div class="bnr-txt">
                        <h1>@item.EtkinlikBasligi</h1>
                        <hr>
                        <p class="font-lora">@item.EtkinlikIcerik.Substring(0,200)</p>

                        <!--======= BANNER BTN =========-->
                        <a href="@Url.Action("EtkinlikDetay","Home",new { id=item.EtkinlikID } )" class="btn">Devamı için tıklayın <i class="fa fa-caret-right"></i></a>
                    </div>
                </li>

            }

            

            
        </ul>
    </div>
</div>


<!--======= BLOG =========-->
<section class="blog">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h2>Son Gelişmeler <span>Blog</span></h2>
            <p>Blogta ki son gelişmelerden haberiniz olsun. Takipte Kalın..</p>
        </div>

        <!--======= BLOG ROW =========-->

        <div class="row">

            <!--======= BLOG BIG VIDEO =========-->
            <div class="col-md-6">
                <div class="video-blog"> <img class="img-responsive" src="~/Content/image/blog-1.jpg" alt=""> <a href="#."><i class="fa fa-caret-right"></i></a> </div>
            </div>

            <!--======= BLOG RIGTH =========-->

            <div class="col-md-6">
                @foreach (var item in Model)
                {
                    <ul class="row">
                        <li class="col-xs-4"> <a href="@Url.Action("BlogDetay","Home",new { item.BlogID } )"><img class="img-responsive" src="@item.BlogResimYol" alt=""></a> </li>
                        <li class="col-xs-8">
                            <a class="font-lora title" href="@Url.Action("BlogDetay","Home",new { item.BlogID } )">@item.BlogBasligi</a> <span class="font-lora">@item.BlogPaylasmaTarihi.ToShortDateString()</span>
                            <p>
                            @if (item.BlogIcerik.Length > 200)
                            {<text> @item.BlogIcerik.Substring(0, 200) [...] </text> }
                            else
                            { <text> @item.BlogIcerik </text> } </p>
                            <a href="@Url.Action("BlogDetay","Home",new { item.BlogID } )" class="btn">Devamını okuyun... <i class="fa fa-arrow-circle-o-right"></i></a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</section>

<!--======= TESTIMONIALS =========-->
<section class="testi">
    <div class="container">

        <!--======= ROW =========-->
        <div class="row">
            <div class="col-md-6">
                <h3><strong>Hakkımızda</strong> Merak Edilenler</h3>

                <!--======= SLIDES =========-->
                <section>

                    <!--======= SLIDER =========-->
                    <div class="testi-slides">

                        <!--======= SLIDER 1 =========-->
                        <div class="item-slide">
                            <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur ridiculus. mus.  Morbi nunc odio gravida at cursus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio gravida at cursus.</p>
                            <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                        </div>

                        <!--======= SLIDER 1 =========-->
                        <div class="item-slide">
                            <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male suada odio.   Morbi nunc odio gravida at cursus. Morbi nunc odio gravida at cursus.</p>
                            <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                        </div>

                        <!--======= SLIDER 1 =========-->
                        <div class="item-slide">
                            <p>Cum sociis natoque penatibus et magnis dis  Morbi nunc odio gravida at cursus. parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio gravida at cursus.</p>
                            <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                        </div>
                    </div>
                </section>
            </div>

            <!--======= RIGHT IMAGES =========-->
            <div class="col-md-6 with-bg-drk"> <img class="img-responsive" src="~/Content/image/feed-img.png" alt=""> </div>
        </div>
    </div>
</section>

<!--======= PROUND =========-->

 

<!--======= FOOTER =========-->

<script>
    setTimeout(function () { $("#anasayfa").addClass("active"); }, 0);

</script>
<script>
    if (@ViewBag.bilgi!=null) {
        alert(@ViewBag.bilgi);
    }
</script>