
@{
    ViewBag.Title = "BizeUlasın";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--======= BANNER =========-->
<div class="sub-banner" style="background: url('../Content/bizeUlasın.jpg');">
    <div class="overlay">
        <div class="container">
            <h3>@WebApp2.Resources.BizeUlasin.nasilYardimciOlabiliriz</h3>
    
            <!--======= BREADCRUMB =========-->
           
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= CONTACT US =========-->
    <section class="contact-us">
        <div class="container">

            <div class="row">

                <!--======= CONTACT FORM =========-->
                <div class="col-md-7">
                    <h5>@WebApp2.Resources.BizeUlasin.iletmekIstedikleriniz</h5>
                    <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>@WebApp2.Resources.BizeUlasin.tesekkurMesaj</div>
                    
                       @using (Html.BeginForm("BizeUlasinMail", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data"}))
                        {
                        <ul class="row">
                            <li class="col-sm-6">
                                <label>
                                    @WebApp2.Resources.Layout.Adiniz & @WebApp2.Resources.Layout.Soyadiniz *
                                    <input type="text" class="form-control" name="adi" id="name" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    Email *
                                    <input type="text" class="form-control" name="email" id="email" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    @WebApp2.Resources.Layout.Telefon *
                                    <input type="text" class="form-control" name="telefonNo" id="company" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    @WebApp2.Resources.BizeUlasin.universite *
                                    <input type="text" class="form-control" name="universite" id="website" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    @WebApp2.Resources.BizeUlasin.iletmekIstedikleriniz *
                                    <textarea class="form-control" name="message" id="icerik" rows="5" placeholder=""></textarea>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <button type="submit" value="submit" class="btn" id="btn_submit" onClick="proceed();">@WebApp2.Resources.BizeUlasin.mesajGonder</button>
                            </li>
                        </ul>
                        }
                </div>

                <!--======= CONTACT INFORMATION =========-->
                <div class="col-md-5">
                    <div class="contact-info">
                        <h5>@WebApp2.Resources.AnaSayfa.Hakkimizda </h5>
                        <ul>

                            <!--======= ADDRESS =========-->
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon"> <i class="fa fa-map-marker"></i> </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <h6>Adres</h6>
                                        <p>
                                            @WebApp2.Resources.BizeUlasin.sakaryaUniversitesi<br>
                                            @WebApp2.Resources.BizeUlasin.hasimGurdamarBilgBilisimFakultesi
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                            </li>

                            <!--======= PHONE =========-->
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon"> <i class="fa fa-phone"></i> </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <h6>@WebApp2.Resources.Layout.Telefon</h6>
                                        <p>+90 (545) 383 00 76</p>
                                        <p>+90 (507) 307 29 16</p>
                                        <hr>
                                    </div>
                                </div>
                            </li>

                            <!--======= SUPPORT =========-->
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon"> <i class="fa fa-envelope-o"></i> </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <h6>@WebApp2.Resources.BizeUlasin.destek</h6>
                                        <p>SauHub@gmail.com</p>
                                        <hr>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#bizeUlasın").addClass("active"); }, 0);
</script>
