
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<Blog>


@{
    IEnumerable<Blog> SonBlog = ViewData["SonBloglarData"] as IEnumerable<Blog>;
}




  <!--======= BANNER =========-->
<div class="sub-banner" style="background-image:url(https://www.1and1.com/digitalguide/fileadmin/DigitalGuide/Teaser/blog-t.jpg)">
    <div class="overlay">
        <div class="container">
            <h3>Merak Ettiğiniz <span>Her Şey</span></h3>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="blog blog-pages">
        <div class="container">
            <div class="row">
                <!--======= BLOG SECTION =========-->
                <div class="col-md-9">
                    @foreach (var item in Model)
                    {
                        <!--======= BLOG POST =========-->
                        <div class="blog-post">
                            <img class="img-responsive" src="@item.BlogResimYol" alt="">
                            <h5><a class="font-lora" href="#.">@item.BlogBasligi</a></h5>

                            <!--======= IBLOG INFO =========-->
                            <ul class="post-info">
                                <li>
                                    <p>@item.BlogPaylasmaTarihi.ToShortDateString() </p>
                                </li>
                            </ul>

                            <!--======= BLOG DETAILS =========-->
                            <p>@{if (item.BlogIcerik.Length >= 400)
                                {<p>@item.BlogIcerik.Substring(0, 400)</p>}
                                else { <p>@item.BlogIcerik</p>}
                                }@if (item.BlogIcerik.Length > 410) { <text>[...]</text> } </p>
                            <a href="@Url.Action("BlogDetay", "Home",new { BlogID=item.BlogID })" class="btn">Devamını Oku<i class="fa fa-arrow-circle-o-right"></i></a>
                            
                        </div>

                    }

                    <!--======= PAGES =========-->
                    @*<nav>
                        <ul class="pager">
                            <li class="previous"><a class="font-lora" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="next"><a class="font-lora" href="#">next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>*@

                    <!--======= PAGINATION =========-->
                    <nav>
                        <ul class="pagination">
                            @Html.PagedListPager(Model, _sayfaNo => Url.Action("Blog", "Home", new { SayfaNo = _sayfaNo }))
                        </ul>
                    </nav>
                </div>

                <!--======= SIDE BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        
                        @using (Html.BeginForm("Blog", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data" }))
                        {
                            <div class="search">
                                <input type="search" name="aranan" placeholder="Arama Yap">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        }


                        <!--======= RECENT POST =========-->
                        <h5>Son Gönderiler</h5>
                        @Html.Partial("SonBloglar", SonBlog)

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========-->

<script>
    setTimeout(function () { $("#blog").addClass("active"); }, 0);

</script>

