
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<Blog>


@{
    IEnumerable<Blog> SonBlog = ViewData["SonBloglarData"] as IEnumerable<Blog>;
}




  <!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>Blog <span>Post</span></h3>

            <!--======= BREADCRUMB =========-->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Gallery</li>
            </ol>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="blog blog-pages">
        <div class="container">
            <div class="row">
                <!--======= BLOG SECTION =========-->
                <div class="col-md-9">
                    @foreach (var item in Model)
                    {
                        <!--======= BLOG POST =========-->
                        <div class="blog-post">
                            <img class="img-responsive" src="@item.BlogResimYol" alt="">
                            <h5><a class="font-lora" href="#.">@item.BlogBasligi</a></h5>

                            <!--======= IBLOG INFO =========-->
                            <ul class="post-info">
                                <li>
                                    <p>@item.BlogPaylasmaTarihi </p>
                                    |
                                </li>
                                <li>
                                    <p> @*item.Yazar.KullaniciAdi @item.Yazar.KullaniciSoyadi*@ </p>
                                    |
                                </li>
                            </ul>

                            <!--======= BLOG DETAILS =========-->
                            <p>@{if (item.BlogIcerik.Length >= 400)
                                {<p>@item.BlogIcerik.Substring(0, 400)</p>}
                                else { <p>@item.BlogIcerik</p>}
                                }@if (item.BlogIcerik.Length > 410) { <text>[...]</text> } </p>
                            <a href="@Url.Action("BlogDetay", "Home",new { BlogID=item.BlogID })" class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                            
                        </div>

                    }

                    <!--======= PAGES =========-->
                    @*<nav>
                        <ul class="pager">
                            <li class="previous"><a class="font-lora" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="next"><a class="font-lora" href="#">next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>*@

                    <!--======= PAGINATION =========-->
                    <nav>
                        <ul class="pagination">
                            @Html.PagedListPager(Model, _sayfaNo => Url.Action("Blog", "Home", new { SayfaNo = _sayfaNo }))
                        </ul>
                    </nav>
                </div>

                <!--======= SIDE BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        <div class="search">
                            <input type="search" placeholder="Search Here">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>

                        <!--======= CATEGORIES =========-->
                        <h5>Categories</h5>
                        <ul class="cate">
                            <li><a href="#."> All (52)</a></li>
                            <li><a href="#."> Food  (11)</a></li>
                            <li><a href="#."> Disease (10) </a></li>
                            <li><a href="#."> Nature  (52)</a></li>
                            <li><a href="#."> Education  (52)</a></li>
                        </ul>

                        <!--======= RECENT POST =========-->
                        <h5>Son Gönderiler</h5>
                        @Html.Partial("SonBloglar", SonBlog)

                        <!--======= ARCHIVE =========-->
                        <h5>Archives</h5>
                        <ul class="cate">
                            <li><a href="#."> March 2015 (4)</a></li>
                            <li><a href="#."> January 2015 (5)</a></li>
                            <li><a href="#."> December 2014 (6)</a></li>
                            <li><a href="#."> October 2014 (8)</a></li>
                        </ul>

                        <!--======= GALLERY =========-->
                        <h5>Image Gallery</h5>
                        <ul class="gallery-small">
                            <li><a href="#."> <img class="img-responsive" src="~/Content/image/img-1.jpg" alt=""></a></li>
                            <li><a href="#."> <img class="img-responsive" src="~/Content/image/img-2.jpg" alt=""></a></li>
                            <li><a href="#."> <img class="img-responsive" src="~/Content/image/img-3.jpg" alt=""></a></li>
                            <li><a href="#."> <img class="img-responsive" src="~/Content/image/img-4.jpg" alt=""></a></li>
                            <li><a href="#."> <img class="img-responsive" src="~/Content/image/img-5.jpg" alt=""></a></li>
                            <li><a href="#."> <img class="img-responsive" src="~/Content/image/img-1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========-->

<script>
    setTimeout(function () { $("#blog").addClass("active"); }, 0);

</script>

