
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebApp2.Models
@model Blog

@{
    IEnumerable<Blog> SonBlog = ViewData["SonBloglarData"] as IEnumerable<Blog>;
}

  <!--======= BANNER =========-->
<div class="sub-banner"style="background-image:url(https://www.1and1.com/digitalguide/fileadmin/DigitalGuide/Teaser/blog-t.jpg)">
    <div class="overlay">
        <div class="container">
            <h3>@WebApp2.Resources.Blog.merakEttiginiz</h3>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="blog blog-pages blog-single">
        <div class="container">
            <div class="row">

                <!--======= BLOG SECTION =========-->
                <div class="col-md-9">

                    <!--======= BLOG POST =========-->
                    <div class="blog-post">
                        <img class="img-responsive" src="@Model.BlogResimYol" alt="">
                        <h5>@Model.BlogBasligi</h5>

                        <!--======= IBLOG INFO =========-->
                        <ul class="post-info">
                            <li>
                                <p>@Model.BlogPaylasmaTarihi.ToShortDateString() </p>
                            </li>
                        </ul>

                        <!--======= BLOG DETAILS =========-->
                        <p>@Model.BlogIcerik</p>

                    </div>
                    

                   
                </div>

                <!--======= SIDE BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        @using (Html.BeginForm("Blog", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data" }))
                        {
                            <div class="search">
                                <input type="search" name="aranan" placeholder="@WebApp2.Resources.Blog.AramaYap">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        }
                        

                        <!--======= RECENT POST =========-->
                            <h5>@WebApp2.Resources.Blog.sonGonderiler</h5>
                        @Html.Partial("SonBloglar", SonBlog)
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========-->
