
@{
    ViewBag.Title = "DersNotu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<DersNotu>

<div class="sub-banner" style="background: url('../../Content/DersNotuImgBig/DersNotu.jpg');">
    <div class="overlay">
        <div class="container">
            <h3> BİRİKTİRDİGİN DEĞİL <span>PAYLAŞTIĞIN</span> SENİNDİR </h3>

            
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= EVENTS =========-->

    <div class="event-pages">

        <div class="container">
            

            <div class="row">

                <!--======= EVENTS LEF =========-->
                <div class="col-sm-9">

                    <!--======= EVENTS FILTER  =========-->
                    <div class="event-filter">
                        <h1 class="pull-left">DERS NOTLARI</h1>
                        <ul class="" align="right">
                            @if (Session["Kullanici"] != null)
                            {
                                <a href="~/Home/DersNotuTalep" class="btn">
                                    <i class="">DERS NOTU EKLEME TALEBİ</i>
                                </a>
                            }
                            else
                            {
                                <a href="" class="btn" onclick="etkinlikTalebiHata()">
                                    <i class="">DERS NOTU EKLEME TALEBİ</i>
                                </a>
                            }
           
                        </ul>
                        <!--======= FILTER TYPE =========-->
                        
                        </div> 
         
                    
                        <ul class="cate">
                            <ul class="events">
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <!--======= EVENTS IMAGE =========-->
                                        <div class="col-sm-5"> <img class="img-responsive" src="@item.DersResimYol" alt=""> </div>
                                        <!--======= EVENTS DETSILS =========-->

                                        <div class="col-sm-7">
                                            <h5><a class="font-lora" href="~/Home/DersNotuDetay/@item.DersNotuID">@item.DersBaslıgı </a></h5>
                                            <div class="date-place"> <span><i class="fa fa-clock-o"></i> @item.DersNotuPaylasmaTarihi.ToShortDateString()</span> </div>
                                            <p>@item.DersNotuAciklama.Substring(0, 150)</p>

                                    </li>
                                }
                            </ul>

                            <!--======= ARCHIVE =========-->



                    </div>
                <div class="col-sm-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        @using (Html.BeginForm("DersNotu", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data" }))
                        {
                            <div class="search">
                                <input type="search" name="aranan" placeholder="Arama Yap">
                                <button href="/Home/DersNotu" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        }
                        

                        <!--======= CATEGORIES =========-->
                        <h5></h5>
                        <br />
                        <br />
                        <br />

                     
                   
                        <div class="request-info">
                            <i class="fa fa-envelope-o"></i>
                            <h6>Bize Ulaşın</h6>
                            <p>
                                Hangi Konuda Yardım Almak İstediginizi Bize İletiniz..
                            </p>
                            <a href="/Home/BizeUlasın" class="btn">Bize-Ulaşın</a>


                        </div>

                    </div>
                </div>
                </div>
            <nav>
                <ul class="pagination">
                    @Html.PagedListPager(Model, _sayfaNo => Url.Action("DersNotu", "Home", new { SayfaNo = _sayfaNo }))
                </ul>
            </nav>
                </div>
            </div>
        </div>
  
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#dersNotu").addClass("active"); }, 0);

</script>
