
@{
    ViewBag.Title = "DersNotuDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models

@model DersNotu
<!--======= BANNER =========-->
<div class="sub-banner" style=" background: url('../../Content/DersNotuImgBig/DersNotu.jpg');">
    <div class="overlay">
        <div class="container">

            <h3> @WebApp2.Resources.DersNotu.overlay1 <span>@WebApp2.Resources.DersNotu.overlay2</span> @WebApp2.Resources.DersNotu.overlay3 </h3>

            <!--======= BREADCRUMB =========-->

        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="cases cases-details">
        <div class="container">
            <!--======= CASES ROW =========-->

            <ul class="row">

                <!--======= CASE 1 =========-->
                <li class="col-sm-12">
                    <section>
                        <img class="img-responsive" src="@Model.DersBuyukResimYol" alt="">

                        <!--======= CASE PROGRESS BAR =========-->
                        

                        <!--======= DONATION DETAILS =========-->
                        <div class="donate-detail">

                            <!--======= TITTLE =========-->
                            <h4>@Model.DersBaslıgı</h4>

                            <!--======= DONATIONINFO =========-->
                            <ul class="donate-info">
                                <li>
                                    <p class="font-lora"> @WebApp2.Resources.DersNotu.paylasan <span>@Model.DersAdi</span></p>
                                </li>
                                <li>
                                    <p class="font-lora">@WebApp2.Resources.DersNotu.dersAdi <span>@Model.paylasanAdi</span></p>
                                </li>
                                <li>
                                    <p class="font-lora">@WebApp2.Resources.DersNotu.tarih <span>@Model.DersNotuPaylasmaTarihi.ToShortDateString()</span></p>
                                </li>

                                <!--======= BUTTON =========-->

                            </ul>
                            <!--======= DETSILS =========-->
                            <p>@Model.DersNotuAciklama</p>
                        </div>
                    </section>
                </li>


            </ul>






            <!--======= PAGES =========-->

        </div>
    </section>
</div>
<!--======= CONTENT END =========-->  
