
@{
    ViewBag.Title = "Esya";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@using PagedList
@using PagedList.Mvc
@model PagedList<Urunler>

<!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>2. El <span>Eşyalar</span></h3>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= SHOP =========-->
    <section class="shop shop-pages">
        <div class="container">

            <!--======= PRODUCTS ROW =========-->
            <div class="row">

                <!--======= SHOP LEFT BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        <div class="search">
                            <input type="search" placeholder="Search Here">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="shop-side-bar">
                            <h5>CATEGORIES</h5>
                            <ul class="cate">
                                <li><a href="#.">BLAZERS  (12)</a></li>
                                <li><a href="#.">PANTS & tROUSERS  (54)</a></li>
                                <li><a href="#.">shirt  (105)</a></li>
                                <li><a href="#.">SUITS & tAILORING  (48)</a></li>
                                <li><a href="#.">T-SHIRTS  (120)</a></li>
                                <li><a href="#.">UNDERWEAR  (98)</a></li>
                                <li><a href="#.">jACKETS & COATS  (36)</a></li>
                            </ul>

                            <!--======= TOP RATED =========-->
                            <h5>TOP RATED</h5>
                            <ul class="top-rated">

                                @foreach (var item in Model.OrderByDescending(x => x.UrunPaylasmaTarihi).Take(3))
                                {
                                    <li>
                                        <div class="img">
                                            <section> <img class="img-responsive" src="@item.UrunResimYol" alt=""> </section>
                                        </div>

                                        <a class="font-lora" href="@Url.Action("UrunDetay","Home", new { item.UrunlerID })">@item.UrunAdi</a>
                                        <p>₺@item.UrunFiyat</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <!--======= SHOP IMAGES =========-->
                <div class="col-md-9">
                    <ul class="row">

                        @foreach (var item in Model)
                        {
                            <li class="col-sm-4">
                                <section> <a href=""> <img class="img-responsive" src="@item.UrunResimYol" alt=""> </a> </section>
                                <!--======= PRODUCTS DETAILS =========-->
                                <div class="products-details">
                                    <a href="@Url.Action("UrunDetay","Home", new { urunID=@item.UrunlerID })" class="font-lora">@item.UrunAdi</a> <span class="price">₺@item.UrunFiyat</span>

                                    <!--======= ADD TO CART =========-->
                                    <a class="add-cart font-lora" href="#."> Sepete Ekle </a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#esya").addClass("active"); }, 0);

</script>
