
@{
    ViewBag.Title = "2. El Eşyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@using PagedList
@using PagedList.Mvc
@model PagedList<Urunler>

<!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>@WebApp2.Resources.Esya.overlay1 <span>@WebApp2.Resources.Esya.overlay2</span></h3>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= SHOP =========-->
    <section class="shop shop-pages">
        <div class="container">

            <!--======= PRODUCTS ROW =========-->
            <div class="row">

                <!--======= SHOP LEFT BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->

                        @using (Html.BeginForm("Esya", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data" }))
                        {
                            <div class="search">
                                <input type="search" name="aranan" placeholder="@WebApp2.Resources.Blog.AramaYap">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        }

                        <div class="shop-side-bar">
                            <h5>@WebApp2.Resources.Esya.kategoriler</h5>
                            <ul class="cate">
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Mobilya })">@WebApp2.Resources.Esya.mobilya</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Kiyafet })">@WebApp2.Resources.Esya.kiyafet</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Kitap })">@WebApp2.Resources.Esya.kitap</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Elektronik })">@WebApp2.Resources.Esya.elektronik</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Diger })">@WebApp2.Resources.Esya.diger</a></li>
                            </ul>



                            <!--======= TOP RATED =========-->
                            <h5>@WebApp2.Resources.Esya.sonEklenenler</h5>
                            <ul class="top-rated">

                                @foreach (var item in Model.OrderByDescending(x => x.UrunPaylasmaTarihi).Take(3))
                                {
                                    <li>
                                        <div class="img">
                                            <section> <img class="img-responsive" src="@item.UrunResimYol" alt=""> </section>
                                        </div>

                                        <a class="font-lora" href="@Url.Action("UrunDetay","Home", new { item.UrunlerID })">@item.UrunAdi</a>
                                        <p>₺@item.UrunFiyat</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <!--======= SHOP IMAGES =========-->
                <div class="col-md-9">
                    <ul class="row">

                        @foreach (var item in Model)
                        {
                            <li class="col-sm-4">
                                <section> <a href="@Url.Action("UrunDetay","Home", new { urunID=@item.UrunlerID })"> <img class="img-responsive" src="@item.UrunResimYol" alt=""> </a> </section>
                                <!--======= PRODUCTS DETAILS =========-->
                                <div class="products-details">
                                    <a href="@Url.Action("UrunDetay","Home", new { urunID=@item.UrunlerID })" class="font-lora">@item.UrunAdi</a> <span class="price">₺@item.UrunFiyat</span>

                                    <!--======= ADD TO CART =========-->
                                    <a class="add-cart font-lora" href="#."> @WebApp2.Resources.Esya.sepeteEkle</a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========-->
<script>
    setTimeout(function () { $("#esya").addClass("active"); }, 0);

</script>
