
@{
    ViewBag.Title = "Etkinlikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models
@using PagedList
@using PagedList.Mvc
@model IPagedList<Etkinlik>





<!--======= BANNER =========-->
<div class="sub-banner" style=" background: url('../../Content/EtkinlikImgBig/etkinlik.jpg');">
    <div class="overlay">
        
        <div class="">
            
            <h3>BU ETKİNLİKTE<span> BENDE </span>VARIM</h3>

            <!--======= BREADCRUMB =========-->
            
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="cases cases-pages">
        <div class="portfolio-wrapper">
            <div class="filter-bar">
                <div class="container">
                   

                    <!--======= LST FRID =========-->
                    

                    <!--======= FILTERS =========-->
                    <ul class="filter">
                        <li><a class="active" href="#." data-filter="*">Hepsi</a></li>
                        <!-- <li><a href="#" data-filter=".nature">Nature</a></li>
                         <li><a href="#" data-filter=".food">Food</a></li>
                         <li><a href="#" data-filter=".disease">Disease</a></li>
                         <li><a href="#" data-filter=".educaion">Education</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="container">
                <!--======= CASES ROW =========-->
                <ul class="items row">
                    @foreach (var item in Model)
                    {
                        <!--======= CASE 1 =========-->
                        <li class="col-sm-4 item nature food educaion">
                            <section>
                                <img class="img-responsive" src="@item.EtkinlikResimYol" alt="">
                                <!--======= DONATION DETAILS =========-->
                                <div class="donate-detail">
                                    <!--======= DONATION =========-->
                                    <h6>Katılımcı Sayısı: <span>@item.Kullanicilar.Count()</span></h6>
                                    <!--======= LINK =========-->
                                    <a href="~/Home/EtkinlikDetay/@item.EtkinlikID" class="font-lora has-error" style="color:#283593 ; font-family:Arial;"><b>@item.EtkinlikBasligi.ToUpper()</b></a>
                                    <hr>
                                    <p>
                                            @item.EtkinlikIcerik.Substring(0,76)...
                                    </p>
                                </div>
                           
                                    @{
                                        Kullanici user = item.Kullanicilar.FirstOrDefault(x => x.KullaniciID == Convert.ToInt32(Session["Kullanici"]));
                                        if (Session["Kullanici"]!=null)
                                        {
                                            if (user != null)
                                            {
                                                <div class="btn-right"> <a href="/Account/EtkinlikIptal/@item.EtkinlikID" class="btn" style="background-color:#e74c3c; color:aliceblue;" onclick="iptal()">Etkinlikten Çık</a> </div>
                                            }
                                            else
                                            {
                                                <div class="btn-right"> <a href="/Account/EtkinlikOnay/@item.EtkinlikID" class="btn" onclick="katil()">Etkinlige Katıl</a> </div>
                                            }

                                        }
                                        else
                                        {
                                            <div class="btn-right"> <a href="" class="btn" onclick="katilma()">Etkinlige Katıl</a> </div>
                                        }
                                        

                                    }
                                
                                <!--======= DONATE BTN  =========-->
                                
                            </section>
                        </li>
                    }
                    

                    
                </ul>

                <!--======= PAGES =========-->
                

                <!--======= PAGINATION =========-->
                <nav>
                    <ul class="pagination">
                        @Html.PagedListPager(Model, _sayfaNo => Url.Action("Etkinlikler", "Home", new { SayfaNo = _sayfaNo }))
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#etkinlik").addClass("active"); }, 0);
</script>
