
@{
    ViewBag.Title = "Ürün Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebApp2.Models
@model Urunler

@{
    IEnumerable<Urunler> DigerUrunler = ViewData["DigerUrunler"] as IEnumerable<Urunler>;
}

<!--======= CONTENT =========-->
<div class="content">

    <!--======= SHOP =========-->
    <section class="shop shop-pages shop-detail">
        <div class="container">

            <!--======= PRODUCTS ROW =========-->
            <div class="row">

                <!--======= SHOP LEFT BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        @using (Html.BeginForm("Esya", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data" }))
                        {
                            <div class="search">
                                <input type="search" name="aranan" placeholder="Arama Yap">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        }
                        <div class="shop-side-bar">
                            <h5>Kategoriler</h5>
                            <ul class="cate">
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Mobilya })">Mobilya</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Kiyafet })">Kıyafet</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Kitap })">Kitap</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Elektronik })">Elektronik</a></li>
                                <li><a href="@Url.Action("Esya","Home",new {UrunKategori.Diger })">Diğer</a></li>
                            </ul>

                            <!--======= TOP RATED =========-->
                            <h5>TOP RATED</h5>
                            <ul class="top-rated">

                                @foreach (var item in DigerUrunler.OrderByDescending(x => x.UrunPaylasmaTarihi).Take(3))
                                {
                                    <li>
                                        <div class="img">
                                            <section> <img class="img-responsive" src="@item.UrunResimYol" alt=""> </section>
                                        </div>

                                        <a class="font-lora" href="#.">@item.UrunAdi</a>
                                        <p>₺@item.UrunFiyat</p>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>

                <!--======= SHOP IMAGES =========-->
                <div class="col-md-9">
                    <ul class="row item-info">

                        <!--======= PRODUCTS 1 =========-->

                        <li class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-5">
                                    <section> <a href="#."> <img class="img-responsive" src="@Model.UrunResimYol" alt=""> </a> </section>
                                </div>
                                <div class="col-sm-7">
                                    <!--======= PRODUCTS DETAILS =========-->
                                    <div class="products-details">
                                        <h3>@Model.UrunAdi</h3>
                                        <span class="price">₺ @Model.UrunFiyat </span>
                                        <!--======= ADD TO CART =========-->
                                        <a class="add-cart font-lora" href="#.">  </a> 
                                    </div>
                                </div>

                                <!--======= TAB SECTION =========-->

                                <div class="col-sm-12">
                                    <div role="tabpanel">

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#describe" aria-controls="describe" role="tab" data-toggle="tab">Description</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">

                                            <!--======= DESCRIBTION =========-->
                                            <div role="tabpanel" class="tab-pane active" id="describe">
                                                <h5>Ürün Açıklaması</h5>
                                                <p>
                                                    @Model.UrunAciklama
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 