
@{
    ViewBag.Title = "HesapAyarlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp2.Models

@model Kullanici

@{
    IEnumerable<Etkinlik> talep = ViewData["etkinlikTalep"] as IEnumerable<Etkinlik>;
}
@{
    IEnumerable<DersNotu> dersTaleb = ViewData["dersTalep"] as IEnumerable<DersNotu>;
}
<!--======= BANNER =========-->
<div class="sub-banner" style="background: url('../Content/hesap.jpg');">
    <div class="overlay">
        <div class="container">
            <h3>HESABINIZ BURADA<span> GÜVENDE</span> </h3>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= SHOP =========-->
    <section class="shop shop-pages shop-detail">
        <div class="container">

            <!--======= PRODUCTS ROW =========-->
            <div class="row">

                <!--======= CART =========-->
                <div class="col-md-9">

                    <!--======= BILLING INFORMATION =========-->
                    <div class="billing-info">
                        <h2>HESAP AYARLARI</h2>
                        <br />
                        <h4>PROFİL AYARLARI</h4>
                        @using (Html.BeginForm("HesapAyarlari", "Account", FormMethod.Post, htmlAttributes: new { id = "", @class = "", enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(x => x.KullaniciID)
                            <ul class="row">
                                <li class="col-sm-6">
                                    <label>
                                        Adı<span class="yelo">*</span>
                                        <input type="text" name="KullaniciAdi" value="@Model.KullaniciAdi" placeholder="">
                                    </label>
                                </li>
                                <li class="col-sm-6">
                                    <label>
                                        Soyadı<span class="yelo">*</span>
                                        <input type="text" name="KullaniciSoyadi" value="@Model.KullaniciSoyadi" placeholder="">
                                    </label>
                                </li>
                                
                                
                                <li class="col-sm-12">
                                    <label>
                                        Mail <span class="yelo">*</span>
                                        <input type="text" name="KullaniciMail" value="@Model.KullaniciMail" placeholder="">
                                    </label>
                                </li>
                                
                                <li class="col-sm-6">
                                    <label>
                                        Parola <span class="yelo">*</span>
                                        <input type="password" id="txtPassword" name=""  placeholder="">
                                    </label>
                                </li>
                                <li class="col-sm-6">
                                    <label>
                                        Parola Tekrarla <span class="yelo">*</span>
                                        <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" value="" placeholder="">
                                    </label>
                                </li>
                                
                                
                            </ul>
                            <li class="">
                                    <button type="submit" class="btn btn-primary" onclick="Validate()">Kaydet</button>
                            </li>
                        
                        }
                        <br />
                        <br />
                        <br />
                        
                        <h4>PAROLA AYARLARI</h4>
                        @using (Html.BeginForm("HesapParolaAyarlari", "Account", FormMethod.Post, htmlAttributes: new { id = "", @class = "", enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(x => x.KullaniciID)
                            <ul class="row">

                                <li class="col-sm-6">
                                    <label>
                                        Mevcut Şifre <span class="yelo">*</span>
                                        <input type="password" id="txtPassword1" name="parola" placeholder="">
                                    </label>
                                </li>
                                <li class="col-sm-8">
                                    <label>
                                        Yeni Şifre <span class="yelo">*</span>
                                        <input type="password" id="txtPassword" name="KullaniciSifre" value="" placeholder="">
                                    </label>
                                </li>
                                <li class="col-sm-8">
                                    <label>
                                        Şifreyi Doğrula <span class="yelo">*</span>
                                        <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" value="" placeholder="">
                                    </label>
                                </li>
                                <li class="col-sm-7">
                                    <button type="submit" class="btn btn-primary" onclick="Validate()">Kaydet</button>
                                </li>
                            </ul>
                            
                            

                        }
                        
                        
                    </div>
                </div>

                <!--======= SHOP LEFT BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= TOTAL CART =========-->
                        <div class="total-cart">
                            <div class="inner">
                                <h6>Paylaşılan Ürünler</h6>
                                <ul>
                                    <li>
                                        <p> casual hOODIES x 2 <span>$196.00</span> </p>
                                    </li>
                                    <li>
                                        <p> wHITE t-shirt x 1<span>$20.00</span> </p>
                                    </li>
                                    <li>
                                        <p> woo t-SHIRT x 1<span>$20.00</span> </p>
                                    </li>
                                    <li>
                                        <p> wOO HOODIES x 3 <span>$20.00</span> </p>
                                    </li>
                                    <li class="bordr">
                                        <p> SubTotal<span>$20.00</span> </p>
                                    </li>
                                    <li>
                                        <p> Shipping Charge <span>$20.00</span> </p>
                                    </li>
                                    <li class="total">
                                        <p class="font-lora">total <span> $216.00</span></p>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="side-bar">

                        <!--======= TOTAL CART =========-->
                        <div class="total-cart">
                            <div class="inner">
                                <h6>Onay Bekleyen Etkinlik Talepleri</h6>
                                <ul>
                                    @Html.Partial("~/Views/Home/EtkinlikDurum.cshtml",talep)
                                </ul>
                                <br />
                                <h6>Onay Bekleyen Not Talepleri</h6>
                                <ul>
                                    @Html.Partial("~/Views/Home/DersNotuDurum.cshtml",dersTaleb)
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Parola Kontrolde Hata.Lütfen Tekrar Deneyiniz!");
            return false;
        }
        return true;
    }
</script>

